<h2 class="text-center mb-5 title">Rediger un nouvel article</h2>
<div class="form">
  <div class="d-flex unit-form justify-content-between">
    <label for="title">Nom de l'article* : </label>
    <input type="text" class="form-control" id="title"
           required
           [(ngModel)]="title" name="title">
  </div>

  <div class="d-flex unit-form justify-content-between">
    <label for="content">Contenu* : </label>
    <input type="textarea" class="content" id="content"
           required
           [(ngModel)]="content" name="content">
  </div>

  <div class="d-flex unit-form justify-content-between">
    <label for="summary">Résumé de l'article* : </label>
    <input type="text" class="form-control" id="summary"
           required
           [(ngModel)]="summary" name="summary">
  </div>

  <div class="d-flex unit-form justify-content-between">
    <label for="createCategory">Catégorie* : </label>
    <select name="authorSelection" id="createCategory" [(ngModel)]="category">
      <option *ngFor="let createCategory of categories" [value]="createCategory">{{createCategory }}</option>
    </select>
  </div>

  <div *ngIf="title.length < 1">Il manque un titre</div>
  <div *ngIf="content.length <1">Il manque un contenu</div>
  <div *ngIf="summary.length < 1">Il manque un résumé</div>
  <div *ngIf="summary.length > 51">Le résumé doit etre inférieur à 50 caractères</div>
  <div *ngIf="category.length < 1">Il manque une categorie</div>



  <div
    (click)="createArticle()"
    class="btn btn-zeniblog ml-3 mb-3 align-self-center">Créer
  </div>

</div>
