input{
  width: 300px;
}

.form{
  width: 600px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.unit-form{
  margin-bottom: 30px;
}


.title{
  width: 376px;
}

#content{
  width: 520px;
  height: 300px;
  vertical-align: text-top;
  border-radius: 4px;
  padding: 4px;
}

