<div class="d-flex justify-content-around mb-4">
  <div class="d-flex">
    <label for="title" class="mr-3">Titre de l'article* : </label>
    <input type="text" class="form-control" id="title"
           required
           value="{{article.title}}"
           [(ngModel)]="title" name="title">
  </div>

  <p>Status : {{article.status}}</p>

</div>
<div class="d-flex mb-3">
  <label for="content" class="mr-3">Contenu de l'article* : </label>
  <input type="text" class="form-control" id="content"
         required
         value="{{article.content}}"
         [(ngModel)]="content" name="content">
</div>
<div class="form">
  <div class="d-flex mb-3">
    <label for="summary" class="mr-3">Resumé de l'article* : </label>
    <input type="text" class="form-control" id="summary"
           required
           value="{{article.summary}}"
           [(ngModel)]="summary" name="summary">
  </div>

  <div *ngIf="title.length < 1">Il manque un titre</div>
  <div *ngIf="content.length <1">Il manque un contenu</div>
  <div *ngIf="summary.length < 1">Il manque un résumé</div>
  <div *ngIf="summary.length > 51">Le résumé doit etre inférieur à 50 caractères</div>
  <div
    (click)="updateAnArticle()"
    class="btn btn-zeniblog ml-3 mb-3 align-self-center">Créer
  </div>
</div>

