.content{
  width: 90%;
  margin: 0 auto;
}

input{
  width: 300px;
}

#content{
  width: 800px;
  height: 300px;
  vertical-align: text-top;
}

.form{
  width: 600px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
