.title{
  width: 351px;
}

.btn-zeniblog{
  width: 142px;
  border-radius: 3px;
}

input{
  background: #f6eedf;
  border: none;
  border-bottom: #f57b51 solid 1px;
}
input:focus{
  width: 50%;
  outline: #d63447 solid;
  transition: width ease-in-out 1s;
}
