<h2 class="title text-center">Tout les articles publiés</h2>
<div class="d-flex justify-content-end">
  <a href="/getall"><div class="btn-zeniblog p1 mr-3">Voir tout les articles</div></a>
</div>

<div class="d-flex justify-content-center">
  <label for="search" class="mr-2">Rechercher :</label>
  <input type="text" id="search" class="text-center" [(ngModel)]="search">
  <button (click)="researchOnClick()" class="btn-zeniblog ml-2">Go</button>
</div>

<div class="d-flex justify-content-center mt-3">
  <select name="category" id="category" [(ngModel)]="category">
    <option value="">Sans filtre</option>
    <option *ngFor="let categorySelect of categories" [value]="categorySelect">{{categorySelect}}</option>
  </select>
  <button (click)="onClickFilter()" class="ml-3 btn-zeniblog">Filtrer</button>
</div>



<div>
  <div
    class="ml-5 mt-5"
    *ngFor="let article of filteredArticles">
    <app-article
      [id]="article.id"
      [title]="article.title"
      [summary]="article.summary"
    ></app-article>
  </div>
</div>
