.content{
  width: 90%;
  margin: 0 auto;
}

.btn-mod-sup{
  background: #d1cebd;
  border-radius: 4px;
  padding: 3px 6px;
  color: #d63447;
  transition: ease 0.3s;
  cursor: pointer;
  height: 24px;
  font-weight: bolder;
  box-shadow: grey 0 0 3px;
}

.btn-mod-sup:hover{
  transition: ease 0.3s;
  color: black;
  background: #d63447;
}
