<div class="d-flex justify-content-around mb-4">
  <h2>{{title}}</h2>
  <p>Status : {{status}}</p>
</div>
<p class="text-right mr-3">Ecrit le : {{dateToDisplay}}</p>
<div class="d-flex justify-content-end">
  <div *ngIf="status == 'DRAFT'" class="d-flex align-item-center"><a [routerLink]="['/update', id]" class="mr-3 btn-mod-sup">Modifier</a></div>
  <div *ngIf="status == 'DRAFT'" class="btn-mod-sup mr-3" (click)="publishAnArticle()">Publier</div>
</div>

<p class="content">{{content}}</p>
