<div class="d-flex align-items-center header">
  <a href="/" class="ml-3"><h3 id="zeniblog">Zeniblog</h3></a>
  <div class="ml-5">
    <a href="/" class="categorie">Articles</a>
    <a href="/write" class="categorie">Ecrire</a>
    <a href="/create-account" class="categorie">Créer un compte</a>
  </div>
</div>
