.header{
  background: #f57b51;
  height: 90px;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 2;
  border-bottom: grey 1px solid;
}

a{
  color: #f3d4d4;
  margin-left: 40px;
  font-size: 22px;
  font-weight: bolder;
}

#zeniblog{
  font-weight: bold;
  font-size: 30px;
}

.categorie{
  transition: ease 0.3s;
}
.categorie:hover{
  color: #d63447;
  transition: ease 0.3s;
}
