<h2 class="text-center mb-5 title">Créer un compte</h2>

<div class="form">
  <div class="d-flex unit-form justify-content-between">
    <label for="email">E-mail* : </label>
    <input type="text" class="form-control" id="email"
           required
           [(ngModel)]="email" name="email">
  </div>

  <div class="d-flex unit-form justify-content-between">
    <label for="password">Mot de passe* : </label>
    <input type="password" class="form-control" id="password"
           required
           [(ngModel)]="password" name="password">
  </div>

  <div class="d-flex unit-form justify-content-between">
    <label for="confirmation">Confirmation du mot de passe* : </label>
    <input type="password" class="form-control" id="confirmation"
           required
           [(ngModel)]="confirmation" name="confirmation">
  </div>

  <div
    (click)="createAccount()"
    class="btn btn-zeniblog ml-3 mb-3 align-self-center">Créer
  </div>
</div>
