<h2 class="title text-center">Tout les articles publiés</h2>

<div>
  <div
    class="ml-5 mt-5"
    *ngFor="let article of listArticles">
    <app-article
      [id]="article.id"
      [title]="article.title"
      [summary]="article.summary"
    ></app-article>
  </div>
</div>
