body{
  background: #f6eedf;
  font-family: roboto, sans-serif;
}

h1, h2, h3{
  color: #d63447;
}

a:hover{
  text-decoration: none;
}

.margin-top-header{
  margin-top: 130px;
}

.btn-zeniblog{
  width: 50%;
  background: #d1cebd;
  border: #d63447 solid 1px;
  color: #d63447;
  transition: ease 0.3s;
}
.btn-zeniblog:hover{
  background: #d63447;
  color: #d1cebd;
  transition: ease 0.3s;
}

.title{
  background: #d1cebd;
  border-radius: 4px;
  width: 300px;
  margin: 0 auto;
  padding: 5px 10px;
  box-shadow: black 0 0 3px;
}
